:root {
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}

.body {
    background-color: var(--DarkBlue);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice {
    margin: 0 auto;
    padding: 50px;
    max-width: 550px;
    background-color: var(--DarkGrayishBlue);
    position: relative;
}

.advice__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--NeonGreen);
    text-align: center;
}

.advice__subtitle {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    color: var(--LightCyan);
    font-size: 28px;
}

.advice__img {
    margin: 0 auto;
    display: block;
}

.advice__random {
    background-color: var(--NeonGreen);
    background-image: url(../../images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -8%;
    left: 45%;
    cursor: pointer;
    border: transparent;
}